.tasksPanel
{
    border: 1px solid #000000;
    border-radius: 5px;
    width: 95%;
    height: 37vh;
    margin-bottom: 3%;
}

.tasksList
{
    list-style-type: none;
}

.noTasksNotice
{
    margin: 20px;
    font: 24px Roboto, sans-serif;
}
