.header
{
    display: flex;
    justify-content: space-between;

    width: calc(100% - 40px);
    height: 10.8%;
    border-bottom: 1px solid #000000;

    padding: 20px;

    background-color: var(--accent-color);
}

.header::after
{
    clear: both;
}

.logo
{
    font: 36px Roboto, sans-serif;
}
