.taskItem
{
    padding: 15px;
    border-bottom: 1px solid #000000;
}

.mainContent
{
    display: flex;
    font: 20px Roboto, sans-serif;
}

.checkbox
{
    border: 3px solid var(--accent-color-darker);
    width: 25px;
    height: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    display: inline-block;
}

.description
{
    margin-left: 50px;
    margin-top: 5px;
    font: 16px Roboto, sans-serif;
    color: var(--desaturated-color);
}
