.listItem
{
    display: flex;
    margin-bottom: 10px;
}

.subjectTitle
{
    font: 24px Roboto, sans-serif;
    margin-right: 15px;
}

.editButton
{
    color: var(--desaturated-color);
    margin-right: 5px;
}

.editButton:hover
{
    color: #000000;
}

.removeButton
{
    color: #ee2700;
}

.removeButton:hover
{
    color: #981c00;
}
