.noteItem
{
    padding: 15px;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
}

.updatedAt {
    margin-right: 10px;
    font: 14px Roboto, sans-serif;
}

.title {
    font-weight: bold;
    margin-right: 15px;
    font: 18px Roboto, sans-serif;
}

.content {
    color: var(--desaturated-color);
    font: 18px Roboto, sans-serif;
}
