.tasksPage
{
    width: 90%;
    margin-left: 6%;
    margin-top: 3%;
}

.tasksList
{
    border: 1px solid #000000;
    border-radius: 5px;
    list-style-type: none;
    height: 50vh;
    overflow-y: scroll;
}

.noTasksNotice
{
    margin: 20px;
    font: 24px Roboto, sans-serif;
}
