.tasksPage
{
    width: 90%;
    margin-left: 6%;
    margin-top: 3%;
}

.label
{
    font: 16px Roboto, sans-serif;
    margin-right: 5px;
}

.input
{
    font: 16px Roboto, sans-serif;
    padding: 5px 3px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 3px;
    width: 12%;
    margin-bottom: 5px;
    margin-right: 20px;
}

.tasksList
{
    border: 1px solid #000000;
    border-radius: 5px;
    list-style-type: none;
    height: 50vh;
    overflow-y: scroll;
}

.noTasksNotice
{
    margin: 20px;
    font: 24px Roboto, sans-serif;
}
