.notesPanel
{
    border: 1px solid #000000;
    border-radius: 5px;
    width: 95%;
    height: 37vh;
    overflow-y: scroll;
}

.notesList {
    list-style-type: none;
}

.noNotesNotice {
    margin: 20px;
    font: 24px Roboto, sans-serif;
}
