.subjectsContainer
{
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 20px;
    width: 95%;
    margin-left: 6%;
    margin-top: 3%;
}

.subjectsList
{
    list-style-type: none;
}
